<!DOCTYPE html>
<html>
  <head>
    <title>Título do TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if current_page?(root_path) %>
      <% else %>
        <%= link_to 'Home', root_path %>
      <% end %>
      <% if current_page?(users_path) %>
      <% else %>
        <%= link_to 'Usuários', users_path %>
      <% end %>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
      <p>feito no bootcamp</p>
    </footer>
  </body>
</html>
